details {
  padding: 0px;
}
.forecasts {
  display: table-row-group;
}
.forecast-data {
  margin: 0 auto;
  float: right;
  text-align: right;
  font-size: 8px;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
}
.forecast-icon {
  position: relative;
  right: 50px;
  padding: 0, 10px, 5px, 2px;
  float: left;
  line-height: normal;
  width: 80px;
  height: 80px;
}
.grid {
  border: solid;
}
